$yellow: #f2f279;
$blue: #9da5f2;
$green: #87ed91;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $yellow;
	color: black;
	margin-top: 55px;
	@include margenes(50px, 10px);
}

.footer{
	padding: 10px 10px 0px 10px;
	background-color: $green;
	margin-bottom: 0px;
	@include margenes(10px, 0px);
}

.card-hotel{
	flex: 1 200px;
	padding: 2px 0px 2px 0px;
	margin-top: 15px;
	@include margenes(10px, 0px);
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px
}

.banner{
	width: 100%;
	border-radius: 0px;
}

.descuento{
	padding: 10px 10px 0 10px;
	border-radius: 0px;
}

.tab-content{
	padding-top: 10px;
}

.boton-contacto{
	padding: 0px 0px 30px 50px;
	border-radius: 0px;
}