.jumbotron {
  background-color: #f2f279;
  color: black;
  margin-top: 55px;
  margin-top: 50px;
  margin-bottom: 10px; }

.footer {
  padding: 10px 10px 0px 10px;
  background-color: #87ed91;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 15px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.banner {
  width: 100%;
  border-radius: 0px; }

.descuento {
  padding: 10px 10px 0 10px;
  border-radius: 0px; }

.tab-content {
  padding-top: 10px; }

.boton-contacto {
  padding: 0px 0px 30px 50px;
  border-radius: 0px; }
