.jumbotron {
	background-color: red;
	color: black;
}

.btn{
	color: green;
}

.footer{
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 150px;
}